
<body>
<div class="wrapper fadeInDown">
  <h2 >Dashboard</h2>
  <p style="text-align: center">Select what to upload</p>
  <div id="formContent" class="formContent">
    <!-- Tabs Titles -->
    <!-- Login Form -->
    <form>

        <a class="card fadeIn first" [routerLink]="['/noteup']" >
          <span>Notes</span>
        </a>
        <a class="card fadeIn second"  [routerLink]="['/questionpaperup']">
           <span>Question Paper</span>
        </a>
        <a class="card fadeIn third"  [routerLink]="['/videoup']">
           <span>Videos</span>
        </a>
        <a class="card fadeIn fourth" [routerLink]="['/noticeup']">
          <span>Notice</span>
        </a>
    </form>
  </div>
</div>
</body>
<app-topbar></app-topbar>
