<script src="/__/firebase/7.14.4/firebase-app.js"></script>
<script src="/__/firebase/7.14.4/firebase-analytics.js"></script>
<script src="/__/firebase/init.js"></script>

<div class="wrapper fadeInDown">
  <h2 >Login</h2>
  <div id="formContent" class="formContent">
    <div *ngIf="!(authService.user | async)">
    <!-- Tabs Titles -->
    <!-- Icon -->
    <div class="fadeIn first">
      <img src="../assets/images/app_logo.png" id="icon" alt="User Icon"  />
    </div>

    <!-- Login Form -->
    <form>
      <input type="text"  class="fadeIn second" [(ngModel)]="email" placeholder="Email" [ngModelOptions]="{standalone: true}">
      <input type="password" class="fadeIn third" [(ngModel)]="password" placeholder="Password" [ngModelOptions]="{standalone: true}">
       <label class="error">{{errorMessage}}</label>
      <input type="submit" class="fadeIn fourth" value="Log In" (click)="login()" [disabled]="!email || !password" >
    </form>
  </div>
</div>
