<body>
  <div class="wrapper fadeInDown">
    <h2 style="text-align: center;">Upload Lecture Videos</h2>
    <div id="formContent" class="formContent">
      <form>
        <div class="container" style="text-align: center;">
          <p>
            <label style="margin-left: 50%;"
              >Select Semester</label
            >
            <select
              id="Semester List"
              style="margin-left: 25%;"
              (change)="onSemesterChange()"
              [(ngModel)]="selectedSemester"
              [ngModelOptions]="{ standalone: true }"
            >
              <option
                *ngFor="let item of dropdownLists.semesters"
                [value]="item.Name"
                >{{ item && item.Name !== undefined ? item.Name : "" }}</option
              >
            </select>
          </p>
          <p *ngIf="!isDisabled">
            <label style="margin-left: 50%;"
              >Select Branch</label
            >
            <br />
            <select
              id="Branch List"
              style="margin-left: 25%;"
              (change)="onBranchChange()"
              [(ngModel)]="selectedBranch"
              [ngModelOptions]="{ standalone: true }"
            >
              <option
                *ngFor="let item of dropdownLists.branches"
                [value]="item.Name"
                >{{ item && item.Name !== undefined ? item.Name : "" }}</option
              >
            </select>
          </p>
          <p>
            <label style="margin-left: 50%;"
              >Select Subject</label
            >
            <br />
            <select
              id="Subject List"
              style="margin-left: 25%;"
              (change)="onSubjectChange()"
              [(ngModel)]="selectedSubject"
              [ngModelOptions]="{ standalone: true }"
            >
              <option
                *ngFor="let item of dropdownLists.subjects"
                [value]="item.Name"
                >{{ item && item.Name !== undefined ? item.Name : "" }}</option
              >
            </select>
          </p>
          <p *ngIf="selectedSubject === 'Electives'">
            <label style="margin-left: 50%;"
              >Select Elective</label
            >
            <br />
            <select
              id="Elective List"
              style="margin-left: 25%;"
              (change)="onElectivesChange()"
              [(ngModel)]="selectedElectives"
              [ngModelOptions]="{ standalone: true }"
            >
              <option
                *ngFor="let item of dropdownLists.electives"
                [value]="item.Name"
                >{{ item && item.Name !== undefined ? item.Name : "" }}</option
              >
            </select>
          </p>
        </div>
        <div class="content" style="margin-left: 40%;">
          <input
            type="file"
            class="card"
            #fileUpload
            id="fileUpload"
            name="fileUpload"
            (change)="onChangeFiles($event)"
            multiple="multiple"
            accept="mkv, mp4, avi, 3gp, wmv, flv, ts, m3u8, mov, mp3, wav"
          />
          <span>{{
            fileToUpload && fileToUpload.name ? fileToUpload.name : fileToUpload
          }}</span>
          <input
            type="submit"
            value="Upload"
            (click)="uploadFile()"
            [disabled]="!fileToUpload || !selectedSemester"
            [ngClass]="{'disabled': !fileToUpload || !selectedSemester}"
            [ngClass]="{'disabled': !fileToUpload || !selectedSemester && ((!selectedBranch && !selectedElectives) || isDisabled)}"
          />
        </div>
      </form>
    </div>
  </div>
</body>
<app-topbar></app-topbar>
<app-loader></app-loader>
<app-popover></app-popover>
