<body>
  <div class="wrapper fadeInDown">
   <h2 style="text-align: center;">Upload Question Papers</h2>
    <div id="formContent" class="formContent">
      <form>
        <div class="container" style="text-align: center;" >
          <p >
            <label class="fadeIn first" style="margin-left: 50%;">Select Semester</label>

            <select id="Semester List" class="fadeIn first" (change)="getBranches($event)" [(ngModel)]="selectedSemester" [ngModelOptions]="{standalone: true}">
              <option *ngFor="let item of files" [ngValue]="item">{{item.Name}}</option>
            </select>
         </p>
         <p>
           <label class="fadeIn second" style="margin-left: 50%;">Select Branch</label>
           <br>
           <!-- <ng-container (click)="getBranches($event)"> -->
           <select id = "Branch List" class="fadeIn second" >
             <option value = "1">CS</option>
           </select>
           <!-- </ng-container> -->
        </p>
        <!-- <p>
         <label class="fadeIn third" style="margin-left: 50%;">Select Subject</label>
         <br>
         <select id = "Subject List" class="fadeIn third">
           <option value = "1">SUB1</option>
           <option value = "2">sub2</option>
           <option value = "3">S4</option>
           <option value = "4">S5</option>
           <option value = "5">S6</option>
           <option value = "6">S7</option>
           <option value = "7">S8</option>
         </select>
         </p> -->
      </div>
      <div class="content" style="margin-left: 30%;">
        <!-- <a class="card fadeIn fourth" >-->
          <input type="file" class="card" #fileUpload id="fileUpload" name="fileUpload" [(ngModel)] ="fileUploaded" multiple="multiple" accept="text/*" />
          <!--<span>Choose File to Upload</span>-->
      <!--  </a>-->
      <!-- <a class="card fadeIn fifth" >-->
        <a class="card " (click)="upload()">
          <span>Upload</span>
        </a>
        </div>
      </form>
    </div>
  </div>
</body>
<app-topbar></app-topbar>


