<script src="/__/firebase/7.14.4/firebase-app.js"></script>
<script src="/__/firebase/7.14.4/firebase-analytics.js"></script>
<script src="/__/firebase/init.js"></script>

<div class="wrapper fadeInDown">
  <h2 >Reset Password</h2>
  <div id="formContent" class="formContent">
    <!-- Tabs Titles -->
    <!-- Icon -->
    <div class="fadeIn first">
      <img src="../assets/images/app_logo.png" id="icon" alt="User Icon"  />
    </div>

    <!-- Login Form -->
   <form>
     <label>Enter your email id to reset password</label>
      <input type="text"  class="fadeIn second" [(ngModel)]="email" placeholder="Email" [ngModelOptions]="{standalone: true}">
       <label class="error">{{Message}}</label>
       <br>
      <input type="submit" class="fadeIn fourth" value="Reset Password" (click)="reset()" [disabled]="!email" >
    </form>
  </div>
</div>
