<app-topbar></app-topbar>
<body>
  <br>
  <br>
  <br>
  <br>
  <br>

<h2 style="text-align:center">Upload Notes</h2>

<div class="content" role="main">
  <div class="card-container">

    <div class="container" style="text-align: center;" >
      <p >
         <label >Select Semester &nbsp;</label>
         <select id = "Semester List">
           <option value = "1">S1&2</option>
           <option value = "2">S3</option>
           <option value = "3">S4</option>
           <option value = "4">S5</option>
           <option value = "5">S6</option>
           <option value = "6">S7</option>
           <option value = "7">S8</option>
         </select>
      </p>
      <p>
        <label>Select Branch &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;</label>
        <select id = "Branch List">
          <option value = "1">CS</option>
          <option value = "2">EC</option>
          <option value = "3">EE</option>
          <option value = "4">ME</option>
        </select>
     </p>
     <p>
      <label>Select Subject &nbsp; &nbsp; </label>
      <select id = "Subject List">
        <option value = "1">SUB1</option>
        <option value = "2">sub2</option>
        <option value = "3">S4</option>
        <option value = "4">S5</option>
        <option value = "5">S6</option>
        <option value = "6">S7</option>
        <option value = "7">S8</option>
      </select>
     </p>
  </div>

    <div class="content" role="main">
      <a class="card" >
        <span>Choose File to Upload</span>
      </a>
      <a class="card">
        <span>Upload</span>
      </a>
      </div>
  </div>
</div>
</body>

